build/*
!lib/
lib/*
!lib/ringo.policy
run.jar
target
*.iml
*.ipr
*.iws
.idea
.DS_Store
docs/modules
docs/java
bin/ringo-doc.cmd
bin/ringo-doc
/pom.xml
.gradle

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache