body, html {
    margin: 0;
    padding: 0;
}

body {
    min-width: 780px;
    font-family: sans-serif;
    font-size: 80%;
    line-height: 170%;
}

a {
    color: blue;
}

a:hover {
    color: dodgerblue;
}

a:active {
    color: darkorange;
}

#wrap {
    margin: 0 auto;
    width: 780px;
}

#header {
    height: 80px;
}

#header h1 {
    float: left;
    color: orange;
    margin: 20px 10px;
    padding: 15px 5px;
}

#logo {
    text-align:center;
    float: right;
    width: 200px;
    margin: 10px;
    padding: 5px;
}

#main {
    clear:both;
    float:left;
    width:520px;
    margin: 0 10px;
    padding: 5px;
}

#menu {
    float:right;
    width:200px;
}

#menu ul {
    background-color: #abd;
    border-width: 1px 2px 2px 1px;
    border-color: black;
    border-style: solid;
    margin: 10px;
    padding: 5px;
}

div#menu li {
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: black;
    padding: 2px;
}

#menu a:hover {
    background-color: white;
}

#footer {
    margin-top: 3em;
    text-align: center;
    color: #666;
    font-size: 80%;
    clear:both;
}

pre.code {
    background-color: #bda;
    border-width: 1px 2px 2px 1px;
    border-color: black;
    border-style: solid;
    padding: 0.8em;
    line-height: 145%;    
}
