pre.code {
    background-color: #abc;
    border-width: 1px;
    border-color: #9ab;
    border-style: solid;
    padding: 0.8em;
    line-height: 145%;
}

table td {
    vertical-align: top;
    padding: 0 10px;
}

h1 {
    font-size: 30px;
    font-weight: 600;
}

h2, h3 {
    font-weight: 600;
}

h2,
h3.classtitle {
    font-size: 22px;
    margin: 32px 0 0 0;
}

h3 {
    font-size: 18px;
    margin: 8px 0;
}

h4 {
    margin: 8px 0;
    color: #4a834a;
    font-weight: 600;
}

ul {
    margin: 0 0 0 15px;
}

hr {
    border: 0;
    color: #999;
    background-color: #E0E0E0;
    height: 1px;
    margin: 28px 0;
}

p {
    line-height: 24px;
    margin: 16px 0;
}

code {
    color: #733F12;
    font-family: "Fira Mono", Monaco, Consolas, "Liberation Mono", Courier, monospace;
    font-size: 16px;
    line-height: 25px;
    display: inline;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

pre {
    font-family: "Fira Mono", Monaco, Consolas, "Liberation Mono", Courier, monospace;
    font-size: 14px;

    padding: 8px 10px 10px 10px;
    margin-right: 5px;

    border: 3px solid #eee;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(210, 210, 210, 1);
    box-shadow: inset 0px 0px 1px 1px rgba(210, 210, 210, 1);
}

pre code {
    font-size: 14px;
    line-height: 18px;
    white-space: pre;
    color: inherit;
}

.fileoverview p {
    font-size: 18px;
    line-height: 25px;
}

.dimmed {
    color: #333;
    font-weight: 500;
}

.paramname {
    font-weight:bold;
}

.extrainfo {
    padding:0 12px;
}

.leftnav, .repositorylist, .propertyoverview,
.modulecontainer.indexall .moduleoverview {
    list-style-type: none;
    padding: 0;
}

.docitem .itemtitle {
    text-decoration:none;
}

.light {
    font-weight: normal;
}

.docitem.highlight {
    border-left: 4px solid #C1CCD1;
    padding: 0 0 0 6px;
}

.repositoryname {
    font-weight:bold;
}

.moduleheader {
    padding: 8px;
}

.modulelist,
.modulecontainer,
.classoverview {
    border-left: 10px solid #C1CCD1;
    margin: 30px 0 50px -30px;
    padding: 2px 10px 1px 20px;
}

h2.functions,
.classoverview > .classes h2:first-child {
    margin-top: 0;
}

.modulelist {
    list-style: none;
}

.modulelist li {
    margin-bottom: 32px;
}

.modulelist h2 {
    margin: 0 0 2px 0;
}

.modulelist p {
    margin: 0 0 16px 0;
}

.modulecontainer.indexall h2,
.modulecontainer.indexall .moduleoverview {
    margin: 0;
}

.functions.propertyoverview {
    margin-bottom: 32px;
}

.propertyoverview li {
    margin: 7px 0;
}

.propertyoverview .jsdoc-title {
    margin-right: 4px;
}

.details hr:first-child {
    display: none;
}