body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 16px;
}

a {
  color: #3879ba;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #5393cf;
  text-decoration: underline;
}

.main {
    margin: 0 auto;
    max-width: 940px;
}

.content {
    clear: both;
    float: left;
    width: 70%;
    padding: 5px 0px 70px 0px;
}

nav {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-top: 33px;
    padding: 55px 0 0 8%;
    width: 30%;
    font-size: 14px;
}

nav h1 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
}

nav .toggles {
    margin-top: 18px;
    overflow: hidden;
    font-weight: 600;
}

nav .toggles a {
    float: left;
    width: 50%;
}

nav input {
    display: block;
    padding: 3px 5px;
    margin: 18px 0 6px -1px;
    width: 80%;
}

nav #modulelist {
    margin: 15px 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav #modulelist li {
    margin: 0 0 2px 0;
}
