body.jsdoc.standalone, html {
    margin: 0;
    padding: 0;
}

body.jsdoc.standalone {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 16px;
}

a {
  color: #3879ba;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #5393cf;
  text-decoration: underline;
}

.jsdoc.standalone .main {
    margin: 0 auto;
    max-width: 940px;
}

.content.jsdoc {
    clear: both;
    float: left;
    width: 70%;
    padding: 5px 0px 70px 0px;
}

nav.standalone.jsdoc {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-top: 33px;
    padding: 55px 0 0 8%;
    width: 30%;
    font-size: 14px;
}

.jsdocSidenav {
    font-size: 14px;
}

nav.standalone.jsdoc h1 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
}

.jsdocSidenav .toggles {
    margin-top: 18px;
    overflow: hidden;
    font-weight: 600;
}

.jsdocSidenav .toggles a {
    float: left;
    width: 50%;
}

.jsdocSidenav input {
    display: block;
    padding: 4px 5px;
    margin: 18px 0 7px -1px;
    height: 20px;
    width: 80%;
    -moz-background-clip: padding;
    -ms-background-clip: padding-box;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid #cfcfcf;
    font-family: 'Open Sans',​Arial,​Helvetica,​sans-serif;
    font-size: 14px;
}

.jsdocSidenav input:focus {
    border-color: #aaa;
    outline: 0;
    box-shadow: #b7d2ea 0 0 3px 0;
}

input.submittable {
    background: url('./enterkey.png') right 4px no-repeat;
}

.jsdocSidenav #modulelist {
    margin: 15px 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.jsdocSidenav #modulelist li {
    margin: 0 0 2px 0;
}

.jsdocSidenav #modulelist.submittable {
    font-weight: 600;
}
