<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to Ringo</title>
    <link rel="stylesheet" href="/public/index.css" />
    <link rel="icon" href="/public/ringo-mascot.svg" sizes="any" type="image/svg+xml">
</head>
<body>
    <header>
        <img class="logo" src="/public/ringo-mascot.svg" alt="RingoJS Mascot - It's a Rhino!" />
        <h1 class="title">Hello World!</h1>
    </header>
    <main>
        <p>You just created a new Ringo application. Here are some possible next steps:</p>
        <ul>
            <li>Tweak the URL routing in <code>routes/index.js</code>.</li>
            <li>Edit and add actions in <code>routes/controller.js</code>.</li>
            <li>Visit our <a href="http://ringojs.org/documentation/">documentation</a> to learn more about Ringo.</li>
        </ul>
        <p>Thank you for using Ringo!</p>
    </main>
</body>
</html>
