<% extends 'skins/base.html' %>

<% subskin 'content' | markdown %>
<% message %>

RingoJS provides a unified Storage API that provides mapping of native JavaScript objects
to various database backends. Currently supported backends are:

 * **ringo/storage/filestore** - simple file store using JSON
 * **ringo/storage/memstore** - in memory database
 * **ringo/storage/googlestore** - Google App Engine datastore

Storage modules for Hibernate, Berkeley DB, and other database backends
are also in the works.

The RingoJS Storage API supports one-to-one, one-to-many and many-to-many relationships using
plain JavaScript object references and arrays. Below is a simple CRUD interface for a database
storing Author and Book entities.

### Add a new book

<form action="<% action %>" method="post">
     <div><label>Author: </label></div><div><input name="author" size="30"/></div>
     <div><label>Title: </label></div><div><input name="title" size="30"/></div>
     <p><input type="submit" name="save" value="Save"/></p>
</form>

### Available Books

<table cellspacing="0" cellpadding="3">
  <% for book in <% books %> render book %>
</table>

<% subskin 'book'  ----------------------------------- %>
<tr style="<% ifEven 'background-color: #eee;' %>">
   <td><% book.author.name | escapeHtml %></td>
   <td><% book.title | escapeHtml %></td>
   <td><a href="edit/<% book._id %>">[edit]</a></td>
   <td><a href="remove/<% book._id %>">[remove]</a></td>
   <td><a href="books/<% book._id %>.json">JSON</a></td>
   <td><a href="books/<% book._id %>.xml">XML</a></td>
</tr>