// Example policy file for Helma NG
// Run Helma with the following flags to activate this:
//    java -Dhelma.home=... -Djava.security.manager -Djava.security.policy=file:/.../lib/helma.policy
// replacing "..." with the location of your Helma NG installation.
// 
// The following URLs provide more information:
//     http://java.sun.com/j2se/1.4.2/docs/guide/security/PolicyFiles.html
//     http://java.sun.com/j2se/1.4.2/docs/guide/security/permissions.html

grant codeBase "file:${helma.home}/run.jar" {
        permission java.security.AllPermission;
};

grant codeBase "file:${helma.home}/lib/-" {
        permission java.security.AllPermission;
};

grant codeBase "file:${helma.home}/modules/-" {
        permission java.security.AllPermission;
};

grant codeBase "file:${helma.home}/apps/-" {
        permission java.security.AllPermission;
};

// example sandbox setup
grant codeBase "file:${helma.sandbox}/-" {
        permission java.io.FilePermission "${helma.sandbox}/-", "read";
        permission java.util.PropertyPermission "*", "read";
        permission java.lang.RuntimePermission "getenv.*";
        permission java.lang.RuntimePermission "accessDeclaredMembers";
        permission java.lang.RuntimePermission "getProtectionDomain";
};
