Source: helma-ng
Section: web
Priority: optional
Maintainer: Hannes Wallnoefer <hannes@helma.at>
Build-Depends: debhelper (>= 7), default-jdk, cdbs
Build-Depends-Indep: ant
Standards-Version: 3.8.0
Homepage: http://www.helma.org/ng/

Package: helma-ng
Architecture: all
Depends: default-jre-headless | java2-runtime-headless | 
  java5-runtime-headless | sun-java5-jre | system-java, 
  jsvc, adduser, lsb-base (>= 3)
Description: A Javascript runtime and web application framework written in Java.
 .
 Helma NG is an open-source JavaScript framework written in Java. 
 Helma NG uses the Mozilla Rhino JavaScript implementation to provide
 a comprehensive framework for server-side application development.
