Package: helma-ng
Version: @VERSION@-@DATE@
Architecture: all
Maintainer: Hannes Wallnoefer <hannes@helma.at>
Depends: java5-runtime | system-java (>= 1.5)
Description: JavaScript framework written in Java
 Helma NG is an open-source JavaScript framework written in
 Java. Helma NG builds on Rhino to provide a comprehensive
 framework for server-side application development in
 JavaScript.
