pre.code {
    background-color: #abc;
    border-width: 1px;
    border-color: #9ab;
    border-style: solid;
    padding: 0.8em;
    line-height: 145%;
}

table td {
    vertical-align: top;
    padding: 0 6px;
}

h4 {
    margin: 5px;
    color: green;
    font-weight: bold;
}

.dimmed {
    color: #333;
    font-weight: 500;
}

.paramname {
    font-weight:bold;
}

.leftnav, .repositorylist, .propertyoverview {
    list-style-type: none;
    padding: 5px;
}

.docitem {
    margin: 0 0 0 5px;
    padding: 0 0 0 10px;
}

.docitem .itemtitle {
    font-size:large;
    text-decoration:none;
}


.docitem.highlight {
    border-left: 4px solid green;
    padding: 0 0 0 6px;
}

ul.modulelist {
    list-style-type:none;
}

.repositoryname {
    font-weight:bold;
}

.moduleheader {
    padding: 8px;
}

h2, h3 {
    margin-bottom: 5px;
}

h3 {
    font-size: small;
}

ul {
    margin: 5px;
}

.classoverview, .modulecontainer {
    background-color: #f1ffcc; /*#f7ffe5; */
    padding: 5px;
    margin: 5px;
}

.modulename {
    background-color: #f1ffcc;
}

.showmore {
    color: blue;
    cursor: pointer;
}
