pre.code {
    background-color: #abc;
    border-width: 1px;
    border-color: #9ab;
    border-style: solid;
    padding: 0.8em;
    line-height: 145%;
}

a {
    text-decoration: none;
}

.section {
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid #999;
}

.subheader {
    color: green;
    font-weight: bold;
}

table.subsection td {
    vertical-align: top;
    padding: 0 6px;
}

div.subsection {
    padding-left: 12px;
}

ul.apilist {
    list-style: none;
}

div#main ul.apilist {
    padding-left: 1.5em;
}

div#menu ul.apilist {
    line-height: normal;
    padding-left: 0.3em;
}

.fileoverview {
    margin-bottom: 1em;
}

.docitem {
    position: relative;
    left: -14px;
    padding-left: 10px;
    border-left: 4px solid white;
}

.docheader a:link, .docheader a:visited {
    text-decoration: none;
    color: #999;
    visibility: hidden;
}

.docheader:hover a {
    visibility: visible;
}

.highlighted {
    border-left: 4px solid green;
}

.dimmed {
    color: #333;
    font-weight: 500;
}

ul.apilist {
    list-style: none;
}

div#main ul.apilist {
    padding-left: 1.5em;
}

div#menu ul.apilist {
    line-height: normal;
    padding-left: 0.3em;
}

hr {
    border: 0;
    color: #999;
    background-color: #999;
    height: 1px;
}

