body, html {
    margin: 0;
    padding: 0;
}

body {
    min-width: 850px;
    font-family: sans-serif;
    font-size: 80%;
    line-height: 170%;
}

h1 {
    padding: 10px 0;
}

#wrap {
    margin: 0 auto;
    width: 800px;
}

#header {
    height: 80px;
}

#header h1 {
    float: left;
    color: #c00;
    margin: 20px 10px;
    padding: 15px 5px;
}

#logo {
    text-align:center;
    float: right;
    width: 130px;
    margin: 10px;
    padding: 5px;
}

#main {
    clear: both;
    float: left;
    width: 530px;
    margin: 0 10px;
    padding: 5px;
}

#menu {
    float: right;
    padding-top: 8em;
}

#footer {
    margin-top: 3em;
    text-align: center;
    color: #666;
    font-size: 80%;
    clear:both;
}

.hidden {
    visibility:none;
    display:none;
}

