<% extends 'base.html' %>

<% subskin 'content' -------------------------------------------------------------------- %>
<% render <% skin %> %>


<% subskin 'step1' ---------------------------------------------------------------------- %>
<div>This is a demo for Continuation support in Helma NG.</div>

<p>Continuations allow you to capture the state of a running JavaScript function and resume it
at a later point in time. The most common usage of continuations is to handle a multi-page
dialog in one server side function as an alternative to storing temporary data in the session
object or hidden input fields. Compared to those techniques, continuations allow you to simply
store user data in local variables.</p>

<p>Enter something in the form below to view a simple continuation demo.</p>

<form method="post" action="<% href %>">
    <input name="message">
    <input type="submit">
</form>

<p>Here's the source code for this demo:</p>

<pre class="code">function continuation_action() {
    if (req.params.helma_continuation == null) {
        // parameter tells Helma to disable Rhino optimization
        res.redirect(req.path + "?helma_continuation=");
    }
    // render first page
    render('skins/continuation.html', {
        title: "Continuations Demo",
        skin: "step1",
        href: Continuation.nextUrl()
    });
    Continuation.nextPage();
    // render second page
    var message = req.data.message;
    render('skins/continuation.html', {
        title: "Continuations (Page 2 of 3)",
        skin: "step2",
        href: Continuation.nextUrl()
    });
    Continuation.nextPage();
    // render third page
    render('skins/continuation.html', {
        title: "Continuations (last Page)",
        skin: "step3",
        message: message
    });
}</pre>


<% subskin 'step2' ---------------------------------------------------------------------- %>
Thanks. Your message is now stored as a local variable inside a Continuation.
<p><a href="<% href %>">Click here to view it</a>.</p>


<% subskin 'step3' ---------------------------------------------------------------------- %>
You said: <h3><% message | prefix "&raquo;" | suffix "&laquo;" %></h3>

<p><a href="http://dev.helma.org/ng/helma.continuation">Learn more about continuations</a> in Helma NG</p>
