<% extends 'base.html' %>

<% subskin 'content' %>
<div>Helma NG uses <a href="http://logging.apache.org/log4j/1.2/index.html">Apache log4j</a> as logging framework.</div>

<p>In addition to all the cool features in log4j, Helma NG provides a special RhinoAppender class that allows you to
process log messages using a JavaScript callback function. This allows you to append log messages to the page being
rendered, which is very useful during development.</p>

<p><a href="?info=1">Click here</a> to generate an ordinary log message.</p>

<p><a href="?error=1">Click here</a> to generate an error message including JavaScript and Java stack traces.</p>

<p>Here is the (slightly shortened) source code for this demo:</p>

<pre class="code">importModule('helma.logging', 'logging');
logging.enableResponseLog();
var log = logging.getLogger(__name__);

function logging_action() {
    if (req.data.info) {
        log.info("Hello world!");
    } else if (req.data.error) {
        try {
            foo.bar.moo;
        } catch (e) {
            log.error(e, e.rhinoException);
        }
    }
    res.write(render('skins/logging.html', { title: "Logging Demo" }));
}</pre>

<p><a href="http://dev.helma.org/ng/helma.logging/">Learn more</a> about the helma.logging module on the Helma NG site.</p>