<% extends 'base.html' %>

<% subskin 'content' %>
Welcome to the web module mounted at

<h3><a href="<% href %>"><% href %></a></h3>

<p>This module was mounted in the app's main module using the following statement:</p>

<pre class="code">importModule('webmodule', 'mount.point');</pre>

<p>Modules are the <a href="http://dev.helma.org/ng/Modules+and+Scopes/">basic building blocks</a>
of Helma NG, and they can also be used as web components. Just use importModule() to import a web app or module
to where you want it and its actions become accessible from the web.</p>

<p><a href="/">Go back</a> to the main page.