<% extends 'base.html' %>

<% subskin 'content' %>
This page showcases some of the skinning featuers in Helma NG, such as macros, subskins, and filters.        

<p>This is the action code that renders the skin:</p>

<pre class="code">function skins_action() {
    var context = {
        name: 'Luisa',
        names: ['Benni', 'Emma', 'Luca', 'Selma']
    };
    res.write(render('skins/skins.html', context));
}</pre>

<p>And the following subskin in skins.html:</p>

<pre class="code">&lt;% subskin 'hello' %&gt;
Hello &lt;% name %&gt;!</pre>


<p>Your basic skin rendering macro then looks like this:</p>

<pre class="code">&lt;% render 'hello' %&gt;</pre>

<p>And this is the output this produces:</p>

<p style="background-color: pink;">
    <% render 'hello' %>
</p>

<p>The render macro also lets you loop through arrays and other iterables:</p>

<pre class="code">&lt;% render 'hello' on=&lt;% names %&gt; as='name' %&gt;</pre>

<p>This is what you should get:</p>

<p style="background-color: pink;">
    <% render 'hello' on=<%names%> as='name' %>
</p>


You can also bind values to the macro context in the tag:

<pre class="code">&lt;% render 'hello' bind={ name: "Julia" } %&gt;</pre>

<p>This gets you</p>

<p style="background-color: pink;">
    <% render 'hello' bind={ name: 'Julia' } %>
</p>

<p>Or you can define the objects to loop through using object and array literals in the macro tag:</p>

<pre class="code">&lt;% render 'hello' on=['Gerlinde', 'Thomas'] as='name' %&gt;</pre>

<p>Produces:</p>
        
<p style="background-color: pink;">
<% render 'hello' on=['Gerlinde', 'Thomas'] as='name'  %>
</p>
        
<p>Finally, <a href="http://dev.helma.org/ng/helma.filters/">filters</a> let you do all kinds of post-processing
on the output of a macro.</p>

<pre class="code">&lt;% render 'hello' | uppercase %&gt;</pre>

<p>Renders:</p>

<p style="background-color: pink;">
    <% render 'hello' | uppercase %>
</p>

<p><a href="http://dev.helma.org/ng/helma.skin/">Visit the Helma NG site</a> to learn more about skin rendering.</p>

<% subskin 'hello' %>
Hello <% name %>! 