<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{{title}}</title>
<link rel="stylesheet" href="/static/style.css" />
{{head}}
</head>
<body>
<div id="wrap">
    <div id="header">
        <div id="logo">
        </div>
        <h1>{{title}}</h1>
    </div>
    <div id="main">
        {{{markdown content}}}
    </div>
    <div id="menu">
    <div class="navigation">
        <ul>
            <li>
                <a href="/">Demo Main Page</a>
            </li>
            <li>
                <a href="/modules">Modules</a>
            </li>
            <li>
                <a href="/upload">File Upload</a>
            </li>
            <li>
                <a href="/testing">Unit Testing</a>
            </li>
            <li>
                <a href="/logging">Logging &amp; Profiling</a>
            </li>
        </ul>
    </div>
    </div>
    <div id="footer">{{footer}}</div>
</div>
<script type=text/javascript>
    (function() {
        var path = location.pathname;
        var links = document.getElementById("menu").getElementsByTagName("a");
        for (var i = 0; i < links.length; i++) {
            var link = links[i];
            link.className = link.getAttribute("href") == path ? "highlight" : "";
        }
    })()
</script>
</body>
</html>
