body, html {
    margin: 0;
    padding: 0;
}

body {
    min-width: 830px;
    font-family: sans-serif;
    font-size: 80%;
    line-height: 170%;
}

a {
    color: blue;
}

a:hover {
    color: dodgerblue;
}

a:active {
    color: darkorange;
}

#wrap {
    margin: 0 auto;
    width: 800px;
}

#header {
    height: 80px;
}

#header h1 {
    float: left;
    color: #c00;
    margin: 20px 10px;
    padding: 15px 5px;
}

#logo {
    text-align:center;
    float: right;
    width: 130px;
    margin: 10px;
    padding: 5px;
}

#main {
    clear: both;
    float: left;
    width: 530px;
    margin: 0 10px;
    padding: 5px;
}

#menu {
    float: right;
    width: 200px;
}


#menu ul li {
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: black;
    padding: 4px;
    display: block;
}

#menu a:hover {
    background-color: #cde;
}

#menu a.highlight, a.highlight#hover {
    background-color: black;
    color: white;
}

#footer {
    margin-top: 3em;
    text-align: center;
    color: #666;
    font-size: 80%;
    clear:both;
}

pre.code {
    background-color: #cde;
    border-width: 1px;
    border-color: #9ab;
    border-style: solid;
    padding: 0.8em;
    line-height: 145%;
}
